@charset "UTF-8";
body{
    font-family: 'Lato',serif;

}
a{
    display: inline-block;
}

.clearfix:after{
    display: block;
    content:"";
    clear:both;
}

.header{
    width:100%;
    z-index:100;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    position: fixed;
    background-color: #fff;
}
 
.wide{
    width: 1100px;
    margin: 0 auto;
}

.margin-box{
    float:left;
    font-size:36px; 
}
.box-botan{
    font-size:12px;
    float:right;
}
.contact-botan{
    transition: 0.3s;
    background-color:#74cfae;
    text-decoration: none;
    color:#fff;
    padding:14px 12px;
}
.humberger-box{
    display: none;
}

.contact-botan:hover{
    color:#333;
}

/*タイトルのとこ*/
.main{
    background-color:#f2f2f2;
    padding-top: 70px;
}
.title-box{
    padding-top:250px;
    padding-bottom:250px;
}


.top-text{
    font-size: 90px;
    color:#74cfae;
    text-align: center;
    font-family: "Raleway";
    font-weight: 700;
}
.bottom-text{
    font-size:30px;
    color:#c0c0c0;
    margin-top:20px;
    text-align: center;
    font-family:"Raleway";
}

.iphone-section{
    background-color:#74cfae;
    text-align: center;
    padding-top:50px;
}

.iphone-box{
    width:  400px;
    float:left;
    font-size:0;
}
.section-text-box{
    width: 680px;
    float: right;
    text-align: center;
    color:#fff;
}
.section-text{
    font-size:24px;
    font-family:"Raleway";
}
.section-under-text{
    font-size: 20px;
    font-family: "Raleway";
    margin-top:35px;
    line-height: 30px;
}

.article{
    padding-top:60px;
    padding-bottom:70px;
}

.article-text{
    text-align: center;
    font-size:24px;
    font-family: "Raleway";
    margin-bottom:40px;
}

.article-box{
    font-size:0;
}
.link{
    float: left;
    margin-top: 80px;
    margin-right: 100px;
    transition: .3s;
    opacity: 0.7;

}
.link:hover {
    opacity:1;
}
.link:nth-child(3n){
    margin-right:0;
} 
.link:nth-child(-n+3){
    margin-top:0px;
}
.article-bottom-box{ 
    margin:90px auto 0 auto;
    width: 900px;
}

.article-all-box{
    margin: 0 auto;
    display: flex;
    width: 700px;
}
 .article-is-box{
    width: 500px;
    float: left;
    margin-right:90px;
    
 }
.article-in-text{
    font-size: 16px; 
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway';
}
.article-btn{ 
   float:left;
   
}
.mail{
    background-color: #74cfae; 
    padding:14px 20px;
    color:#fff;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;
    display: inline-flex;
}
.mail:hover{
    color:#333;
}

.section{
    background-color: #4e4e4e;
    padding-top:70px;
    padding-bottom: 100PX;
}
.cicrle-text-box{
    text-align: center;
    color:#fff;
}

.cicrle-text{
    font-family:"Raleway";
    font-size:30px;
}
.cicrle-main-box{
    text-align: center; 
    margin-top: 100PX;
}

.cicrle-box{
    font-size:16px;
    color:#fff;
    display:inline-block;
    margin-left: 180px;
    text-align: center;
    line-height: 30px;
}
.cicrle-box:nth-child(1){
    margin-left:0; 
}
.sub-name{
    margin-top:10px;
}

.nav{
    padding-top:200px;
    padding-bottom:200px;
    text-align: center;
}
.sns{
    text-decoration: none;
    width: 185px;
    padding:30px 0;
    text-align: center;
    font-size:50px;
    color:#74cfae;
    transition: 0.3s;
}

.icon{
display: inline-block;
}

.sns:hover{
    background-color: #fff;
    transition: 0.3s;
}

.footer{
    background-color:#74cfae;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align: right;
}

@media screen and (min-width:768px) and (max-width:1199px){

.wide{
    width: 97%;
}
.humberger-box{
    display: none;
}
.iphone-section{
    padding-bottom:25px;    
}
.iphone-box{
    float: none;
    margin: 0 auto;
}
.section-text-box{
    float:none;
    margin:20px auto 0; 
    
}

.article-box{
    width: 300px;
    margin: 0 auto;
}
.link{
    float:none;
    margin: 0;
    display: block;
    }
.link:nth-child(3n+4){
    margin-top:80px;
}
.article-bottom-box{
    margin-top:80px;
    text-align: center;
    padding:0;
    width:100%;
}
.article-all-box{
    width: 100%;
    margin: 0;
    display: inline-block;
}
.article-is-box{
    float:none;
    margin: 0 auto;
    width: 100%;
}
.article-btn{
    float:none;
    margin-top: 40px;
}
.mail{
    display:inline-flex;
}
.cicrle-main-box{
    margin-top: 60px;
}
.cicrle-box{
    display: block;
    margin-left:0;
    margin-top:88px;
}
.cicrle-box:first-child{
    margin-top: 0;
}
.sns{
    width: 150px;
}

}
@media screen and (max-width: 767px) {
.wide{
    width: 97%;
  }  
  .margin-box{
      font-size: 50px;
  }
  .contact-botan{
    display:none;
  }
  .box-botan{
    background-color:#fff; 
    padding:0;
  }
.humberger-box{
    display:block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:10px;
  }
.border{
    border-bottom: 3px solid #ddd;
    margin-top:1px;
    height: 2px;
    width: 30px;
    display: block;
}

.border:first-child{
    margin-top: 0;
}

.title-box{
    padding-top:160px;
    padding-bottom:130px;
}
.top-text{
    font-size: 80px;
}
.iphone-section{
    padding:50px 15px;

}
.iphone-box{
    width: 100%;
    
}
.section-text-box{
    margin-top:30px;
    width: 100%;
}

.article-bottom-box{
    width: 100%;
}
.article-box{
    text-align: center;
}
.article-btn{
    display: block;
    text-align: center;
    width: 100%;
    margin-top:40px;
    float:none;
}
.mail{
    padding:20px 30px;
    font-size:18px;
}
.article-is-box{
    width: 100%;
    float:none;
    margin: 0 auto;
}
.article-all-box{
    display: block;
    width: 100%;
}
.article-img{
    width: 100%;
}
.link{
    width: 100%;
}
.link:nth-child(n+5) {
    margin-top:0;
}
.cicrle-box{
    margin-left:0;
    display: block;
    margin-top:88px;
    width: 100%;
}
.cicrle-main-box{
margin-top: 40px;
}
.nav{
   padding:50px 15px;
}
.icon{
    width: 100%;
}
.sns{
    width: 100%;
}